@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #4723d9;
  --first-color-light: #afa5d9;
  --white-color: #f7f6fb;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
}
a {
  text-decoration: none;
}
/* Top Bar/Header Section */
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: 0.5s;
}
.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}
.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.header_img img {
  width: 40px;
}
/* Top Bar/Header Section */

/* Side Navbar Section */
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}
.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}
.nav_logo {
  margin-bottom: 2rem;
}
.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}
.nav_logo-name {
  color: var(--white-color);
  font-weight: 700;
}
.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: 0.3s;
}
.nav_link:hover {
  color: var(--white-color);
}
.nav_icon {
  font-size: 1.25rem;
}
.show {
  left: 0;
}
.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}
.active {
  color: var(--white-color);
}
.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}
.height-100 {
  height: 100vh;
}
@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }
  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }
  .header_img {
    width: 40px;
    height: 40px;
  }
  .header_img img {
    width: 45px;
  }
  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  .show {
    width: calc(var(--nav-width) + 156px);
  }
  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}
/* Side Navbar Section */

*,
::after,
::before {
    box-sizing: border-box;
    box-sizing: border-box;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
  outline: 0 !important;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
  outline: 0 !important;
  outline: 0 !important;
}

h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  padding-top: 48px;
  padding-bottom: 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 30px;
}

h5 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 26px;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 2rem;
  padding-top: 12px;
  padding-bottom: 0;
  padding: 0;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  transition: all 0.5s;
  outline: 0;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

table {
  border-collapse: collapse;
  caption-side: bottom;
  border: 0;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  max-width: 480px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-md-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  --bs-table-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6;
  border-spacing: 0;
  border-collapse: separate;
}

.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border-top-color: #d2dae1;
    padding: 8px 0;
    border: none;
    white-space: nowrap;
    vertical-align: middle;
}













/* .row {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)/ 2);
  padding-left: calc(var(--bs-gutter-x)/ 2);
  margin-top: var(--bs-gutter-y);
}

.col-lg-4{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-lg-4{
  flex: 0 0 auto;
  width: 33.3333%;
}

.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border: none;
  transition: background 0.4s ease 0s, border-color 0.4s ease 0s, color 0.4s ease 0s;
  vertical-align: top;
  border-radius: 0.25rem;
  margin-bottom: 15px;
}

.height-auto {
  height: auto !important;
}

.card-innr {
  position: relative;
  padding: 15px 18px;
  border-color: rgb(230, 239, 251) !important;
}

.card-head {
  padding-bottom: 18px;
}

.card-head.has-aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card-head:last-child {
  padding-bottom: 0px;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0.5rem;
  margin-bottom: 12px;
  font-weight: 500;
  line-height: 1.2;
}

.card-title{
  margin-bottom: 0.5rem;
  color: rgb(52, 45, 110);
  font-weight: 500;
  margin: 0;
}

.card-title-sm {
  font-size: 1.05em;
}

.hoverCardOne{
  transition: all 0.2s ease 0s;
}

h4:last-child {
  margin-bottom: 0px;
}

.card-title:last-child {
  margin-bottom: 0px;
}

.card-opt {
  position: relative;
}

a {
  color: rgb(13, 110, 253);
  text-decoration: underline;
  outline: 0;
  transition: all 0.5 ease 0s;
}

.link-light {
  color: rgb(248, 249, 250);
  color: rgb(117, 134, 152);
}

.link {
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  transition: all 0.2s ease 0s;
}

.toggle-tigger {
  cursor: pointer;
}

.toggle-caret {
  position: relative;
  padding-right: 16px;
}

.ucap {
  text-transform: uppercase;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not(.btn) {
  text-decoration: underline;
}

a:hover {
  color: rgb(10, 88, 202);
}

.link-light:focus {
  color: rgb(249, 250, 251);
}

a:link {
  text-decoration: none;
}

a:active {
  outline: 0px;
  color: rgb(52, 45, 110);
}

.link-light:active {
  color: rgb(93, 109, 125);
}

.toggle-caret::after {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  height: 0px;
  width: 0px;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-top: 5px solid rgb(177, 190, 204);
}

.toggle-class {
  display: none;
}

.dropdown-content {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background: rgb(255, 255, 255);
  border-radius: 4px;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 35px 0px;
}

.dropdown-content::after {
  position: absolute;
  content: "";
  top: -6px;
  left: 50%;
  margin-left: -7px;
  height: 0px;
  width: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgb(255, 255, 255);
}

ul {
  padding-left: 2rem;
  padding: 0;
  margin: 0;
}

.dropdown-list {
  padding: 0px 0px 1px;
  border-top: 2px solid rgba(230, 239, 251, 0.5);
}

li{
  cursor: pointer;
}

.dropdown-list:last-child {
  border-radius: 0px 0px 4px 4px;
}

.dropdown-list:first-child {
  border-top: 0px;
}

ul:not([class]) {
  margin-bottom: 12px;
}

ul li {
  list-style: none;
}

.dropdown-list li {
  width: 100%;
  border-bottom: 1px solid rgba(230, 239, 251, 0.5);
}

.dropdown-list li:last-child {
  border-bottom: none;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

.dropdown-list li a {
  position: relative;
  text-align: left;
  padding: 6px 32px 6px 16px;
  white-space: nowrap;
  color: rgb(73, 84, 99);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
}

.dropdown-list li a::after {
  position: absolute;
  content: "ï€Œ";
  font-family: "Font Awesome";
  font-weight: 700;
  font-size: 12px;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: rgb(73, 84, 99);
  background: rgb(255, 255, 255);
  display: none;
}

.dropdown-list li a:hover {
  color: rgb(118, 104, 254);
}

.tile-data {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.tile-data-number {
  font-size: 24px;
  line-height: 1;
  color: rgb(73, 84, 99);
  font-weight: 500;
}

.hoverCardOne:hover{
  transform: scale(1.05);
}

.tile-data-status {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding: 3px 24px 3px 12px;
  border-radius: 12px;
  margin: 0px 12px;
  position: relative;
}

.tile-data-active {
  padding: 3px 12px;
  color: rgb(27, 171, 254);
  background: rgba(27, 171, 254, 0.15);
}

.tile-data-status::after {
  position: absolute;
  height: 0px;
  width: 0px;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
}

.tile-data-active::after {
  display: none;
}

.tile-footer {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.tile-recent {
  color: rgb(110, 129, 169);
  line-height: 1;
}

.tile-recent-number {
  font-size: 16px;
  display: inline-block;
  margin-right: 3px;
  font-weight: 700;
}

.tile-recent-text {
  font-size: 13px;
  font-weight: 400;
}

.link-thin {
  font-weight: 400;
}

.link-ucap {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.link-dim {
  opacity: 0.7;
}

.link-dim:hover {
  opacity: 1;
} */